@font-face {
	font-family:zcool;
	src:url(https://npm.elemecdn.com/tzx-assets/fonts/zcool.ttf);
	font-display:swap;
	font-weight:lighter
}
:root {
	--tzx-klein-blue:#002fa7;
	--tzx-theme-op:#4259ef23;
	--tzx-gray-op:#9999992b;
	--tzx-theme-top:var(--tzx-theme);
	--tzx-white:#fff;
	--tzx-white-op:rgba(255,255,255,0.2);
	--tzx-black:#000;
	--tzx-black-op:rgba(0,0,0,0.2);
	--tzx-none:rgba(0,0,0,0);
	--tzx-gray:#999999;
	--tzx-yellow:#ffc93e;
	--tzx-border-radius:8px;
	--tzx-main:var(--tzx-theme);
	--tzx-main-op:var(--tzx-theme-op);
	--tzx-shadow-theme:0 8px 12px -3px var(--tzx-theme-op);
	--tzx-shadow-main:0 8px 12px -3px var(--tzx-main-op);
	--tzx-shadow-blue:0 8px 12px -3px rgba(40,109,234,0.2);
	--tzx-shadow-white:0 8px 12px -3px rgba(255,255,255,0.2);
	--tzx-shadow-black:0 0 12px 4px rgba(0,0,0,0.05);
	--tzx-shadow-yellow:0px 38px 77px -26px rgba(255,201,62,0.12);
	--tzx-shadow-red:0 8px 12px -3px #ee7d7936;
	--tzx-shadow-green:0 8px 12px -3px #87ee7936;
	--tzx-shadow-border:0 8px 16px -4px #2c2d300c;
	--tzx-shadow-blackdeep:0 2px 16px -3px rgba(0,0,0,0.15);
	--tzx-logo-color:linear-gradient(215deg,#4584ff 30%,#ff7676 70%);
	--style-border:1px solid var(--tzx-card-border);
	--tzx-blue-main:#425aef;
	--style-border-hover:1px solid var(--tzx-main);
	--style-border-dashed:1px dashed var(--tzx-theme-op);
	--style-border-avatar:4px solid var(--tzx-background);
	--style-border-always:1px solid var(--tzx-card-border);
	--tzx-white-acrylic1:#fefeff!important;
	--tzx-white-acrylic2:#fcfdff!important;
	--tzx-black-acrylic2:#08080a!important;
	--tzx-black-acrylic1:#0b0b0e!important;
	--tzx-main-none:#b8b8b800!important
}
[data-theme=light] {
	--tzx-theme:#425aef;
	--tzx-theme-op:#4259ef23;
	--tzx-blue:#425aef;
	--tzx-red:#d8213c;
	--tzx-pink:#ff7c7c;
	--tzx-green:#57bd6a;
	--tzx-fontcolor:#363636;
	--tzx-background:#f7f9fe;
	--tzx-reverse:#000;
	--tzx-maskbg:rgba(255,255,255,0.6);
	--tzx-maskbgdeep:rgba(255,255,255,0.85);
	--tzx-hovertext:var(--tzx-theme);
	--tzx-ahoverbg:#f7f7fa;
	--tzx-lighttext:var(--tzx-main);
	--tzx-secondtext:rgba(60,60,67,0.6);
	--tzx-scrollbar:rgba(60,60,67,0.4);
	--tzx-card-btn-bg:#edf0f7;
	--tzx-post-blockquote-bg:#fafcff;
	--tzx-post-tabs-bg:#f2f5f8;
	--tzx-secondbg:#edf0f7;
	--tzx-shadow-nav:0 5px 12px -5px rgba(102,68,68,0.05);
	--tzx-card-bg:#fff;
	--tzx-shadow-lightblack:0 5px 12px -5px rgba(102,68,68,0);
	--tzx-shadow-light2black:0 5px 12px -5px rgba(102,68,68,0);
	--tzx-card-border:#c0c6d8
}
[data-theme=dark] {
	--global-bg:#191919;
	--tzx-theme:#0084ff;
	--tzx-theme-op:#0084ff23;
	--tzx-blue:#0084ff;
	--tzx-red:#ff3842;
	--tzx-pink:#ff7c7c;
	--tzx-green:#57bd6a;
	--tzx-fontcolor:#f7f7fa;
	--tzx-background:#18171d;
	--tzx-reverse:#fff;
	--tzx-maskbg:rgba(0,0,0,0.6);
	--tzx-maskbgdeep:rgba(0,0,0,0.85);
	--tzx-hovertext:#0a84ff;
	--tzx-ahoverbg:#fff;
	--tzx-lighttext:#f2b94b;
	--tzx-secondtext:#a1a2b8;
	--tzx-scrollbar:rgba(200,200,223,0.4);
	--tzx-card-btn-bg:#30343f;
	--tzx-post-blockquote-bg:#000;
	--tzx-post-tabs-bg:#121212;
	--tzx-secondbg:#30343f;
	--tzx-shadow-nav:0 5px 20px 0px rgba(28,28,28,0.4);
	--tzx-card-bg:#1d1b26;
	--tzx-shadow-lightblack:0 5px 12px -5px rgba(102,68,68,0);
	--tzx-shadow-light2black:0 5px 12px -5px rgba(102,68,68,0);
	--tzx-card-border:#42444a
}
.iconfont {
	font-family:iconfont!important;
	font-size:3em;
	font-style:normal;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}
svg.icon {
	width:1em;
	height:1em;
	vertical-align:-.15em;
	fill:currentColor;
	overflow:hidden
}
.icon-zhongbiao::before {
	color:#f7c768
}
#article-container .bangumi-tab.bangumi-active {
	background:var(--tzx-theme);
	color:var(--tzx-ahoverbg);
	border-radius:10px
}
a.bangumi-tab:hover {
	text-decoration:none!important
}
.bangumi-button:hover {
	background:var(--tzx-theme)!important;
	border-radius:10px!important;
	color:var(--tzx-ahoverbg)!important
}
a.bangumi-button.bangumi-nextpage:hover {
	text-decoration:none!important
}
.bangumi-button {
	padding:5px 10px!important
}
a.bangumi-tab {
	padding:5px 10px!important
}
svg.icon.faa-tada {
	font-size:1.1em
}
.bangumi-info-item {
	border-right:1px solid #f2b94b
}
.bangumi-info-item span {
	color:#f2b94b
}
.bangumi-info-item em {
	color:#f2b94b
}
.aplayer.aplayer-narrow .aplayer-body,.aplayer.aplayer-narrow .aplayer-pic {
	height:66px;
	width:66px
}
#page:has(.aplayer):has(.aplayer-body):has(.aplayer-list) #post-comment .tk-comments-container>.tk-comment {
	border:none;
	box-shadow:none
}
@media screen and (max-width:1300px) {
	#nav-music {
	display:none!important
}
}#nav-music {
	display:flex;
	align-items:center;
	z-index:9;
	position:fixed;
	bottom:20px;
	left:20px;
	cursor:pointer;
	transition:.5s;
	transform-origin:left bottom;
	box-shadow:var(--tzx-shadow-border);
	border-radius:40px;
	overflow:hidden
}
#nav-music:active {
	transform:scale(.97)
}
#nav-music.playing {
	box-shadow:0 0 12px -3px var(--tzx-none);
	animation:playingShadow 5s linear infinite
}
@keyframes playingShadow {
	0% {
	box-shadow:0 0 12px -3px var(--tzx-none)
}
50% {
	box-shadow:0 0 12px 0 var(--tzx-main)
}
100% {
	box-shadow:0 0 12px -3px var(--tzx-none)
}
}#nav-music .aplayer.aplayer-withlrc .aplayer-pic {
	height:25px;
	width:25px;
	border-radius:40px;
	z-index:1;
	transition:.3s;
	transform:rotate(0) scale(1);
	border:var(--style-border-always);
	animation:changeright 24s linear infinite;
	animation-play-state:paused
}
#nav-music.playing .aplayer.aplayer-withlrc .aplayer-pic {
	box-shadow:0 0 14px #ffffffa6;
	transform:rotate(0) scale(1.1);
	border-color:var(--tzx-white);
	animation-play-state:running
}
@keyframes changeright {
	0% {
	transform:rotate(0) scale(1.1);
	box-shadow:0 0 2px #ffffff00
}
25% {
	transform:rotate(90deg) scale(1.1);
	box-shadow:0 0 14px #fff
}
50% {
	transform:rotate(180deg) scale(1.1);
	box-shadow:0 0 2px #ffffff00
}
75% {
	transform:rotate(270deg) scale(1.1);
	box-shadow:0 0 14px #fff
}
100% {
	transform:rotate(360deg) scale(1.1);
	box-shadow:0 0 2px #ffffff00
}
}#nav-music .aplayer.aplayer-withlrc .aplayer-info {
	height:100%;
	color:var(--tzx-fontcolor);
	margin-left:8px;
	padding:0;
	display:flex;
	align-items:center
}
#nav-music.playing .aplayer.aplayer-withlrc .aplayer-info {
	color:var(--tzx-white)
}
#nav-music.playing #nav-music-hoverTips {
	width:0;
	opacity:0
}
#nav-music #nav-music-hoverTips {
	color:var(--tzx-white);
	background:var(--tzx-main);
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	align-items:center;
	justify-content:center;
	display:flex;
	border-radius:40px;
	opacity:0;
	font-size:12px;
	z-index:2;
	transition:.3s
}
#nav-music:hover:not(.playing) #nav-music-hoverTips {
	opacity:1
}
#nav-music .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap:hover .aplayer-bar .aplayer-played .aplayer-thumb {
	display:none
}
#nav-music .aplayer {
	background:var(--card-bg);
	border-radius:60px;
	height:41px;
	display:flex;
	margin:0;
	transition:.3s;
	border:var(--style-border);
	box-shadow:none
}
#nav-music.playing .aplayer {
	background:var(--tzx-main-op-deep);
	border:var(--style-border-hover);
	backdrop-filter:saturate(180%) blur(20px);
	backdrop-filter:blur(20px)
}
#nav-music .aplayer .aplayer-notice {
	display:none
}
#nav-music .aplayer .aplayer-miniswitcher {
	display:none
}
#nav-music .aplayer .aplayer-body {
	position:relative;
	display:flex;
	align-items:center;
	padding:0 8px;
	padding-right:12px
}
#nav-music .aplayer-list {
	display:none
}
#nav-music .aplayer .aplayer-info .aplayer-music {
	margin:0;
	display:flex;
	align-items:center;
	padding:0;
	z-index:1;
	height:100%
}
#nav-music .aplayer .aplayer-info .aplayer-controller .aplayer-time {
	display:none
}
#nav-music .aplayer .aplayer-info .aplayer-music .aplayer-author {
	display:none
}
#nav-music .aplayer.aplayer-withlist .aplayer-info {
	border:none
}
#nav-music .aplayer .aplayer-pic .aplayer-button {
	bottom:50%;
	right:50%;
	transform:translate(50%,50%);
	margin:0;
	transition:.3s
}
#nav-music .aplayer .aplayer-pic:has(.aplayer-button.aplayer-play) {
	animation:none
}
#nav-music .aplayer .aplayer-info .aplayer-music .aplayer-title {
	cursor:pointer;
	line-height:1;
	display:inline-block;
	white-space:nowrap;
	max-width:120px;
	overflow:hidden;
	text-overflow:ellipsis;
	transition:.3s;
	user-select:none
}
#nav-music .aplayer .aplayer-info .aplayer-controller {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0
}
#nav-music .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap {
	margin:0;
	padding:0
}
#nav-music .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar {
	height:100%;
	background:0 0
}
#nav-music .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-loaded {
	display:none
}
#nav-music .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played {
	height:100%;
	opacity:.1;
	background-color:var(--tzx-white)!important;
	animation:lightBar 5s ease infinite;
	animation-play-state:paused
}
#nav-music.playing .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played {
	animation-play-state:running
}
@keyframes lightBar {
	0% {
	opacity:.1
}
60% {
	opacity:.3
}
100% {
	opacity:.1
}
}#nav-music .aplayer.aplayer-withlrc .aplayer-lrc {
	width:0;
	opacity:0;
	transition:.3s;
	margin-left:8px;
	margin-top:-2px;
	padding:5px 0
}
#nav-music.stretch .aplayer.aplayer-withlrc .aplayer-lrc {
	width:200px;
	margin-bottom:0;
	opacity:1
}
#nav-music .aplayer .aplayer-lrc p.aplayer-lrc-current {
	color:var(--tzx-white);
	border:none
}
#nav-music .aplayer .aplayer-lrc:after,#nav-music .aplayer .aplayer-lrc:before {
	display:none
}
#nav-music .aplayer .aplayer-lrc p {
	color:#ffffffb3
}
#page-header:not(.not-top-img):before {
	background-color:transparent!important
}
body {
	cursor:url(https://npm.elemecdn.com/tzx-assets/img/mouse/1.cur),auto !important;
}
[type=button]:not(:disabled),[type=reset]:not(:disabled),[type=submit]:not(:disabled),a,button:not(:disabled) {
	cursor:url(https://npm.elemecdn.com/tzx-assets/img/mouse/2.cur),auto!important;
}
[type=text]:not(disabled) {
  cursor: url(https://npm.elemecdn.com/tzx-assets/img/mouse/3.cur),auto !important;
}
.card-widget .author-info-top {
	margin:15px auto 0;
	display:flex;
	justify-content:center
}
.card-widget .card-info-avatar {
	display:inline-block
}
.card-widget.card-info .banner-button-group {
	margin:5px 0;
	display:flex
}
#aside-content .card-info .banner-button {
	height:40px;
	width:100%;
	border-radius:20px;
	justify-content:center
}
.card-widget.card-info .banner-button-group .banner-button {
	padding:20px 12px;
	background:var(--tzx-theme);
	border-radius:12px;
	color:var(--tzx-white);
	display:flex;
	align-items:center;
	z-index:1;
	transition:all .3s ease 0s;
	cursor:pointer
}
.card-widget.card-info .banner-button-group .banner-button .fas.fa-circle-arrow-up-right {
	font-size:1.3rem;
	margin-right:10px
}
.card-widget.card-info .banner-button-group .banner-button:hover {
	background:var(--tzx-theme-deep);
	color:var(--tzx-white)
}
.card-info-avatar .avatar-img {
	width:100px;
	height:100px
}
#aside-content>.card-widget.card-info {
	background:#fff url(https://image.anzhiy.cn/adminuploads/1/2022/10/26/6358a07bf21fc.webp) top -24% center no-repeat;
	position:relative
}
.card-widget .author-info__name {
	line-height:1.5em;
	margin:4px 0
}
#aside-content .card-info #card-info-btn {
	background-color:#002fa7;
	--btn-hover-color:#51a8dd;
	border-radius:10px
}
#recent-posts>.recent-post-item {
	background:rgba(255,255,255,.9)
}
#aside-content .card-widget {
	background:rgba(255,255,255,.9)
}
div#post {
	background:rgba(255,255,255,.9)
}
.relatedPosts>.relatedPosts-list>div {
	border-radius:20px
}
#pagination .next-post:hover img,#pagination .prev-post:hover img,.postImgHover:hover img,.relatedPosts>.relatedPosts-list>div:hover img {
	opacity:.8;
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-o-transform:scale(1.1);
	-ms-transform:scale(1.1);
	transform:scale(1.1)
}
#pagination .next-post img,#pagination .prev-post img,.postImgHover img,.relatedPosts>.relatedPosts-list>div img {
	position:absolute;
	width:100%;
	height:100%;
	opacity:.4;
	-webkit-transition:all .6s,filter 375ms ease-in .2s;
	-moz-transition:all .6s,filter 375ms ease-in .2s;
	-o-transition:all .6s,filter 375ms ease-in .2s;
	-ms-transition:all .6s,filter 375ms ease-in .2s;
	transition:all .6s,filter 375ms ease-in .2s;
	object-fit:cover
}
#aside-content #card-toc .toc-content .toc-link.active {
	border-radius:var(--tzx-border-radius)
}
#aside-content #card-toc .toc-content {
	overflow-y:auto
}
#aside-content #card-toc .toc-content .toc-link.active {
	line-height:1.2;
	border-radius:12px;
	border-left-color:var(--tzx-hovertext);
	background-color:var(--tzx-card-bg);
	color:var(--tzx-klein-blue);
	font-weight:700;
	font-size:20px
}
[data-theme=dark].toc .toc-item.active .toc-link .toc-text {
	color:var(--tzx-white)
}
#aside-content #card-toc .toc-content .toc-item.active .toc-link {
	opacity:1;
	border-radius:8px
}
#aside-content #card-toc .toc-content .toc-link {
	line-height:1.2;
	padding:8px;
	border-left:0 solid transparent;
	border-radius:12px;
	color:var(--tzx-secondtext);
	cursor:default
}
#aside-content #card-toc .toc-content .toc-link:not(.active) span {
	opacity:.6;
	cursor:pointer;
	filter:blur(1px);
	transition:.3s
}
#aside-content #card-toc:hover .toc-content .toc-link:not(.active) span {
	filter:blur(0);
	opacity:1
}
#aside-content #card-toc .toc-content .toc-link:not(.active) span:hover {
	color:var(--tzx-lighttext)
}
#aside-content .item-headline {
	display:none
}
li.toc-item {
	display:list-item
}
div#page {
	background:rgba(255,255,255,.9)
}
div#archive {
	background:rgba(255,255,255,.9)
}
div#tag {
	background:rgba(255,255,255,.9)
}
div#category {
	background:rgba(255,255,255,.9)
}
[data-theme=dark] #recent-posts>.recent-post-item {
	background:#121212
}
[data-theme=dark] .card-widget {
	background:#121212!important
}
[data-theme=dark] div#post {
	background:#121212!important
}
[data-theme=dark] div#tag {
	background:#121212!important
}
[data-theme=dark] div#archive {
	background:#121212!important
}
[data-theme=dark] div#page {
	background:#121212!important
}
[data-theme=dark] div#category {
	background:#121212!important
}
[data-theme=dark] div#category {
	background:0 0!important
}
#rightside>div>button {
	border-radius:5px
}
#footer {
	background:0 0!important
}
#page-header {
	background:0 0!important
}
::-webkit-scrollbar {
	width:10px;
	height:10px
}
::-webkit-scrollbar-thumb {
	background-color:#002fa7;
	border-radius:2em
}
::-webkit-scrollbar-corner {
	background-color:transparent
}
::-moz-selection {
	color:#fff;
	background-color:#002fa7
}
.vwrap {
	box-shadow:2px 2px 5px #bbb;
	background:rgba(255,255,255,.3);
	border-radius:8px;
	padding:30px;
	margin:30px 0 30px 0
}
.vcard {
	box-shadow:2px 2px 5px #bbb;
	background:rgba(255,255,255,.3);
	border-radius:8px;
	padding:30px;
	margin:30px 0 0 0
}
#article-container a:hover {
	text-decoration:none!important
}
#article-container #hpp_talk p img {
	display:inline
}
#error-wrap {
	position:absolute;
	top:40%;
	right:0;
	left:0;
	margin:0 auto;
	padding:0 1rem;
	max-width:1000px;
	transform:translate(0,-50%)
}
#error-wrap .error-content {
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	margin:0 1rem;
	height:18rem;
	border-radius:8px;
	background:var(--card-bg);
	box-shadow:var(--card-box-shadow);
	transition:all .3s
}
#error-wrap .error-content .error-img {
	box-flex:1;
	flex:1;
	height:100%;
	border-top-left-radius:8px;
	border-bottom-left-radius:8px;
	background-color:#425aef;
	background-position:center;
	background-size:cover
}
#error-wrap .error-content .error-info {
	box-flex:1;
	flex:1;
	padding:.5rem;
	text-align:center;
	font-size:14px;
	font-family:Titillium Web,'PingFang SC','Hiragino Sans GB','Microsoft JhengHei','Microsoft YaHei',sans-serif
}
#error-wrap .error-content .error-info .error_title {
	margin-top:-4rem;
	font-size:9em
}
#error-wrap .error-content .error-info .error_subtitle {
	margin-top:-3.5rem;
	word-break:break-word;
	font-size:1.6em
}
#error-wrap .error-content .error-info a {
	display:inline-block;
	margin-top:.5rem;
	padding:.3rem 1.5rem;
	background:var(--btn-bg);
	color:var(--btn-color)
}
#body-wrap.error .aside-list {
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	bottom:0;
	position:absolute;
	padding:1rem;
	width:100%;
	overflow:scroll
}
#body-wrap.error .aside-list .aside-list-group {
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	max-width:1200px;
	margin:0 auto
}
#body-wrap.error .aside-list .aside-list-item {
	padding:.5rem
}
#body-wrap.error .aside-list .aside-list-item img {
	width:100%;
	object-fit:cover;
	border-radius:12px
}
#body-wrap.error .aside-list .aside-list-item .thumbnail {
	overflow:hidden;
	width:230px;
	height:143px;
	background:var(--heo-card-bg);
	display:flex
}
#body-wrap.error .aside-list .aside-list-item .content .title {
	-webkit-line-clamp:2;
	overflow:hidden;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	line-height:1.5;
	justify-content:center;
	align-items:flex-end;
	align-content:center;
	padding-top:.5rem;
	color:#fff
}
#body-wrap.error .aside-list .aside-list-item .content time {
	display:none
}
#article-container figure.highlight {
	border-radius:10px
}
#aside-content .card-tag-cloud a {
	color:var(--tzx-fontcolor)!important;
	font-size:1.05rem!important;
	border-radius:8px;
	display:inline-block;
	margin-right:4px
}
#aside-content .card-tag-cloud a:hover {
	background:var(--tzx-theme);
	color:var(--tzx-white)!important;
	box-shadow:var(--tzx-shadow-theme)
}
@media screen and (min-width:1300px) {
	#aside-content .card-tag-cloud a:hover {
	transform:scale(1.03)
}
#aside-content .card-tag-cloud a:active {
	transform:scale(.97)
}
}#aside-content .card-tag-cloud a sup {
	opacity:.4;
	margin-left:2px
}
span.card-archive-list-count {
	width:auto;
	text-align:left;
	font-size:1.5rem;
	line-height:.9;
	font-weight:700
}
.card-archive-list-count-group {
	display:flex;
	flex-direction:row;
	align-items:baseline
}
#aside-content .card-archives ul.card-archive-list>.card-archive-list-item a span:last-child,#aside-content .card-categories ul.card-category-list>.card-category-list-item a span:last-child {
	width:fit-content;
	margin-left:4px
}
span.card-archive-list-count {
	width:auto;
	text-align:left;
	font-size:1.1rem;
	line-height:.9;
	font-weight:700
}
.card-archive-list-date {
	font-size:14px;
	opacity:.6
}
li.card-archive-list-item {
	width:100%;
	flex:0 0 48%
}
#aside-content .card-archives ul.card-archive-list>.card-archive-list-item a:hover,#aside-content .card-categories ul.card-category-list>.card-category-list-item a:hover {
	color:var(--tzx-white);
	background-color:var(--tzx-theme);
	box-shadow:var(--tzx-shadow-theme);
	border-radius:8px;
	padding-left:.5rem;
	padding-right:.5rem
}
@media screen and (min-width:1300px) {
	#aside-content .card-archives ul.card-archive-list>.card-archive-list-item a:hover,#aside-content .card-categories ul.card-category-list>.card-category-list-item a:hover {
	transform:scale(1.03)
}
#aside-content .card-archives ul.card-archive-list>.card-archive-list-item a:active,#aside-content .card-categories ul.card-category-list>.card-category-list-item a:active {
	transform:scale(.97)
}
}#aside-content .card-archives ul.card-archive-list>.card-archive-list-item a,#aside-content .card-categories ul.card-category-list>.card-category-list-item a {
	border-radius:8px;
	margin:4px 0;
	display:flex;
	flex-direction:column;
	align-content:space-between;
	border:var(--style-border)
}
#aside-content .card-archives ul.card-archive-list>.card-archive-list-item a span:first-child,#aside-content .card-categories ul.card-category-list>.card-category-list-item a span:first-child {
	width:auto;
	flex:inherit
}
#aside-content .card-archives ul.card-archive-list,#aside-content .card-categories ul.card-category-list {
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	flex-wrap:wrap
}
.pace {
	-webkit-pointer-events:none;
	pointer-events:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
	z-index:2000;
	position:fixed;
	margin:auto;
	top:10px;
	left:0;
	right:0;
	height:8px;
	border-radius:8px;
	width:4rem;
	background:#eaecf2;
	border:1px #e3e8f7;
	overflow:hidden
}
.pace-inactive .pace-progress {
	opacity:0;
	transition:.3s ease-in
}
.pace .pace-progress {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-transform:translate3d(0,0,0);
	-moz-transform:translate3d(0,0,0);
	-ms-transform:translate3d(0,0,0);
	-o-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
	max-width:200px;
	position:absolute;
	z-index:2000;
	display:block;
	top:0;
	right:100%;
	height:100%;
	width:100%;
	background:linear-gradient(-45deg,#ee7752,#e73c7e,#23a6d5,#23d5ab);
	animation:gradient 1.5s ease infinite;
	background-size:200%
}
.pace.pace-inactive {
	opacity:0;
	transition:.3s;
	top:-8px
}
@keyframes gradient {
	0% {
	background-position:0 50%
}
50% {
	background-position:100% 50%
}
100% {
	background-position:0 50%
}
}h1::before,h2::before,h3::before,h4::before,h5::before,h6::before {
	-webkit-animation:ccc 1.6s linear infinite;
	animation:ccc 1.6s linear infinite
}
@-webkit-keyframes ccc {
	0% {
	-webkit-transform:rotate(0);
	transform:rotate(0)
}
to {
	-webkit-transform:rotate(-1turn);
	transform:rotate(-1turn)
}
}@keyframes ccc {
	0% {
	-webkit-transform:rotate(0);
	transform:rotate(0)
}
to {
	-webkit-transform:rotate(-1turn);
	transform:rotate(-1turn)
}
}#content-inner.layout h1::before {
	color:#ef50a8;
	margin-left:-1.55rem;
	font-size:1.3rem;
	margin-top:-.23rem
}
#content-inner.layout h2::before {
	color:#fb7061;
	margin-left:-1.35rem;
	font-size:1.1rem;
	margin-top:-.12rem
}
#content-inner.layout h3::before {
	color:#ffbf00;
	margin-left:-1.22rem;
	font-size:.95rem;
	margin-top:-.09rem
}
#content-inner.layout h4::before {
	color:#a9e000;
	margin-left:-1.05rem;
	font-size:.8rem;
	margin-top:-.09rem
}
#content-inner.layout h5::before {
	color:#57c850;
	margin-left:-.9rem;
	font-size:.7rem;
	margin-top:0
}
#content-inner.layout h6::before {
	color:#5ec1e0;
	margin-left:-.9rem;
	font-size:.66rem;
	margin-top:0
}
#content-inner.layout h1:hover,#content-inner.layout h2:hover,#content-inner.layout h3:hover,#content-inner.layout h4:hover,#content-inner.layout h5:hover,#content-inner.layout h6:hover {
	color:#425aef
}
#content-inner.layout h1:hover::before,#content-inner.layout h2:hover::before,#content-inner.layout h3:hover::before,#content-inner.layout h4:hover::before,#content-inner.layout h5:hover::before,#content-inner.layout h6:hover::before {
	color:#425aef;
	-webkit-animation:ccc 3.2s linear infinite;
	animation:ccc 3.2s linear infinite
}
#rightside_config i.fas.fa-cog.fa-spin {
	animation:fa-spin 5s linear infinite
}
#nav a:hover {
	background:var(--tzx-main);
	transition:.3s
}
#nav-totop:hover .totopbtn i {
	opacity:1
}
#nav-totop #percent {
	font-size:12px;
	background:var(--tzx-white);
	color:var(--tzx-main);
	width:25px;
	height:25px;
	border-radius:35px;
	display:flex;
	justify-content:center;
	align-items:center;
	transition:.3s
}
.nav-fixed #nav-totop #percent,.page #nav-totop #percent {
	background:var(--font-color);
	color:var(--card-bg);
	font-size:13px
}
#nav-totop {
	width:35px
}
#page-header:not(.is-top-bar) #percent {
	transition:.3s
}
#page-header:not(.is-top-bar) #nav-totop {
	width:0;
	opacity:0;
	transition:width .3s,opacity .2s;
	margin-left:0!important
}
#nav-totop #percent {
	font-weight:700
}
#nav-totop:hover #percent {
	opacity:0;
	transform:scale(1.5);
	font-weight:700
}
#page-header #nav #nav-right div {
	margin-left:.5rem;
	padding:0
}
#nav-totop {
	display:flex;
	align-items:center;
	justify-content:center;
	transition:.3s
}
.nav-button {
	cursor:pointer
}
div#menus {
	display:flex;
	align-items:center
}
#page-header #nav .nav-button a {
	height:35px;
	width:35px;
	display:flex;
	align-items:center;
	justify-content:center
}
#nav .site-page {
	padding-bottom:0
}
#nav *::after {
	background-color:transparent!important
}
#nav .menus_items .menus_item .menus_item_child li a {
	padding:2px 16px
}
#nav .menus_items .menus_item .menus_item_child li:hover a {
	color:#fff!important
}
#nav .menus_items .menus_item .menus_item_child li {
	margin:6px;
	border-radius:5px;
	transition:all .3s;
	display:inline-block;
	margin:0 3px
}
#nav .menus_items .menus_item .menus_item_child:before {
	top:-19px
}
#site-name,.shuoshuo {
	white-space:nowrap;
	overflow:hidden
}
#site-name {
	padding:0 8px;
	position:relative
}
#site-name:not(i):hover {
	display:none!important
}
#blog_name #site-name:hover::after {
	opacity:1;
	transform:scale(1.01)
}
#blog_name #site-name::after {
	opacity:0;
	background-color:var(--tzx-theme)!important;
	border-radius:8px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	-ms-border-radius:8px;
	-o-border-radius:8px;
	transition:.3s;
	-webkit-transition:.3s;
	-moz-transition:.3s;
	-ms-transition:.3s;
	-o-transition:.3s;
	position:absolute;
	top:0!important;
	right:0!important;
	width:100%;
	height:100%;
	content:"\f015";
	box-shadow:0 0 5px var(--tzx-theme);
	font-family:"Font Awesome 6 Free";
	text-align:center;
	color:#fff;
	line-height:45px;
	font-size:30px
}
#site-name i {
	position:absolute;
	top:50%;
	left:50%!important;
	transform:translate(-50%,-50%);
	left:0;
	opacity:0
}
#site-name:hover i {
	opacity:1
}
ul.menus_item_child {
	border-radius:5px
}
#nav .menus_items {
	position:absolute;
	width:fit-content;
	left:50%;
	transform:translateX(-50%);
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	height:60px
}
#nav .menus_items .menus_item:hover .menus_item_child {
	display:block;
	transform:translateX(-50%);
	right:auto;
	left:auto!important;
	padding:6px 4px;
	box-sizing:content-box;
	line-height:35px
}
#nav .menus_items .menus_item:hover {
	padding:0 5px 27px 5px!important;
	margin-bottom:-14.5px!important
}
#nav .menus_items .menus_item .menus_item_child {
	top:44px
}
@media screen and (min-width:768px) {
	.page .menus_item:hover>a.site-page {
	color:var(--tzx-white)!important;
	background:var(--tzx-main);
	transition:.3s;
	box-shadow:var(--tzx-shadow-main)
}
}.nav-fixed #nav {
	transform:translateY(58px)!important
}
#nav {
	padding:0 calc((100% - 1420px)/ 2);
	backdrop-filter:saturate(180%) blur(20px)
}
#nav a {
	border-radius:8px;
	color:var(--font-color)
}
.page #nav a:hover {
	color:var(--tzx-white)!important;
	background:var(--tzx-main);
	transition:.3s;
	box-shadow:var(--tzx-shadow-main)
}
#menus>div.menus_items>div>a {
	letter-spacing:.3rem;
	font-weight:700;
	padding:0 .3em 0 .5em;
	height:35px;
	line-height:35px
}
#nav .menus_items .menus_item {
	padding:0 5px;
	display:flex;
	flex-direction:column;
	margin:auto;
	align-items:center
}
#nav div#toggle-menu {
	padding:2px 0 4px 6px
}
#nav-totop .totopbtn i {
	position:absolute;
	display:flex;
	opacity:0
}
#page-name::before {
	font-size:18px;
	position:absolute;
	width:100%;
	height:100%;
	border-radius:8px;
	color:#fff!important;
	top:0;
	left:0;
	content:"回到顶部";
	background-color:var(--tzx-theme);
	transition:all .3s;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	-ms-transition:all .3s;
	-o-transition:all .3s;
	opacity:0;
	box-shadow:0 0 3px var(--tzx-theme);
	line-height:45px
}
#page-name:hover:before {
	opacity:1
}
#name-container {
	transition:all .3s;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	-ms-transition:all .3s;
	-o-transition:all .3s
}
#name-container:hover {
	transform:translateX(-50%) scale(1.03)
}
#page-name {
	position:relative;
	padding:10px 30px
}
center#name-container {
	position:absolute;
	width:100%;
	left:50%;
	transform:translateX(-50%);
	font-family:zcool
}
.nav-fixed.nav-visible #name-container {
	top:60px;
	transition:.3s
}
.nav-fixed.nav-visible #menus .menus_items {
	bottom:0;
	transition:.3s;
	line-height:60px
}
.nav-fixed #menus .menus_items {
	bottom:60px;
	transition:.3s
}
.nav-fixed #name-container {
	top:15%;
	transition:.3s
}
#name-container {
	bottom:60px
}
.mask-name-container {
	max-width:1200px;
	width:50%;
	height:100%;
	position:absolute;
	overflow:hidden;
	left:50%;
	transform:translateX(-50%)
}
@media screen and (max-width:992px) {
	.mask-name-container {
	width:65%
}
}@media screen and (max-width:768px) {
	.mask-name-container {
	display:none
}
}#sidebar #sidebar-menus .menus_items .site-page:hover {
	color:var(--tzx-white);
	border-radius:var(--tzx-border-radius)
}
#nav .menus_items .menus_item>a>i:last-child {
	display:none
}
#nav #search-button {
	font-size:1.3em
}
@media screen and (min-width:900px) {
	#nav .back-home-button:hover {
	box-shadow:var(--tzx-shadow-main)
}
}.back-home-button:hover {
	background:var(--tzx-main);
	color:var(--tzx-white)!important
}
.back-home-button {
	display:flex;
	width:35px;
	height:35px;
	padding:0!important;
	align-items:center;
	justify-content:center;
	margin-right:4px;
	transition:.3s;
	border-radius:8px
}
.back-home-button:hover .back-menu-list-groups {
	display:flex;
	opacity:1;
	transition:.3s;
	top:55px;
	pointer-events:auto;
	left:0
}
.back-home-button .back-menu-list-groups {
	position:absolute;
	top:65px;
	left:0;
	background:var(--tzx-card-bg);
	border-radius:12px;
	border:var(--style-border);
	flex-direction:column;
	font-size:12px;
	color:var(--tzx-secondtext);
	box-shadow:var(--tzx-shadow-border);
	transition:0s;
	opacity:0;
	pointer-events:none
}
.back-home-button .back-menu-list-group {
	display:flex;
	flex-direction:column
}
.back-home-button .back-menu-list-group .back-menu-list-title {
	margin:8px 0 0 16px;
	transition:.3s
}
.back-home-button .back-menu-list {
	display:flex;
	flex-direction:column
}
.back-home-button .back-menu-list::before {
	position:absolute;
	top:-22px;
	left:0;
	width:100%;
	height:25px;
	content:""
}
.back-home-button .back-menu-list-group:hover .back-menu-list-title {
	color:var(--tzx-main)
}
.back-home-button .back-menu-list-groups:hover {
	border:var(--style-border-hover)
}
.back-home-button .back-menu-list .back-menu-item {
	display:flex;
	align-items:center;
	margin:4px 8px;
	padding:4px 8px!important;
	transition:.3s;
	border-radius:8px
}
.back-home-button .back-menu-list .back-menu-item .back-menu-item-text {
	font-size:var(--global-font-size);
	margin-left:.5rem;
	color:var(--tzx-fontcolor);
	white-space:nowrap
}
#nav #blog_name {
	flex-wrap:nowrap;
	height:60px;
	display:flex;
	align-items:center;
	transition:.3s
}
.back-home-button .back-menu-list .back-menu-item .back-menu-item-icon {
	width:24px;
	height:24px;
	border-radius:24px;
	background:var(--tzx-secondbg)
}
#page-header #nav .back-home-button {
	cursor:pointer;
	position:relative
}
@media screen and (min-width:1300px) {
	#nav a:hover {
	transform:scale(1.03)
}
}.back-home-button .back-menu-list .back-menu-item:hover .back-menu-item-text {
	color:var(--tzx-white)
}
.back-menu-item-icon.loading img {
	width:25px
}
#page-header #nav #menus .nav-button.long,#page-header #nav #menus .nav-button.long a.totopbtn,#page-header #nav #menus .nav-button.long a.totopbtn span {
	width:70px
}
#page-header #nav #menus .nav-button.long a.totopbtn span {
	border-radius:35px;
	display:flex;
	justify-content:center;
	align-items:center;
	transition:.3s;
	white-space:nowrap
}
#page-header #nav #menus .nav-button.long a.totopbtn:hover {
	border-radius:35px;
	height:30px
}
#nav #search-button {
	padding-left:0
}
#page-header #nav .nav-button {
	margin-left:.5rem;
	padding:0
}
#page-header:not(.is-top-bar) #nav-totop a {
	display:none
}
#search-button a.site-page.social-icon.search span {
	display:none
}
[data-theme=light] #rightMenu {
	display:none;
	position:fixed;
	width:160px;
	height:fit-content;
	top:10%;
	left:10%;
	background-color:var(--card-bg);
	border:1px solid #d2d2d2;
	border-radius:8px;
	z-index:100;
	box-shadow:3px 3px 5px #88888894;
	background-color:var(--tzx-white-acrylic1);
	backdrop-filter:blur(30px)
}
[data-theme=dark] #rightMenu {
	display:none;
	position:fixed;
	width:160px;
	height:fit-content;
	top:10%;
	left:10%;
	background-color:var(--card-bg);
	border:1px solid #d2d2d2;
	border-radius:8px;
	z-index:100;
	box-shadow:3px 3px 5px #88888894;
	background-color:var(--tzx-black-acrylic1);
	backdrop-filter:blur(30px)
}
#rightMenu .rightMenu-group {
	padding:7px 6px
}
#rightMenu .rightMenu-group:not(:nth-last-child(1)) {
	border-bottom:1px solid #b4b4b4
}
#rightMenu .rightMenu-group.rightMenu-small {
	display:flex;
	justify-content:space-between
}
#rightMenu .rightMenu-group .rightMenu-item {
	height:30px;
	line-height:30px;
	border-radius:8px;
	transition:.3s;
	color:var(--font-color)
}
#rightMenu .rightMenu-group.rightMenu-line .rightMenu-item {
	display:flex;
	height:40px;
	line-height:40px;
	padding:0 4px
}
#rightMenu .rightMenu-group .rightMenu-item:hover {
	background-color:var(--text-bg-hover);
	box-shadow:0 0 5px var(--tzx-border)
}
#rightMenu .rightMenu-group .rightMenu-item i {
	display:inline-block;
	text-align:center;
	line-height:30px;
	width:30px;
	height:30px;
	padding:0 5px
}
#rightMenu .rightMenu-group .rightMenu-item span {
	line-height:30px
}
#rightMenu:hover {
	border:1px solid var(--tzx-blue)
}
#rightMenu .rightMenu-group.rightMenu-line .rightMenu-item * {
	height:40px;
	line-height:40px
}
.rightMenu-group.hide {
	display:none
}
.rightMenu-item:hover {
	color:#fff!important;
	background-color:var(--tzx-blue)!important
}
li.item {
    display: flex;
    background: var(--tzx-klein-blue);
    box-shadow: 5px 5px 5px var(--tzx-klein-blue);
    border-radius: 20px;
    padding: 8px 16px;
    margin-top: 12px;
    align-items: flex-end;
    justify-content: space-between;
}
.comment-barrage {
	position: fixed;
	bottom: 0;
	right: 55px;
	padding: 0 0 30px 10px;
	z-index: 100;
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: flex-end;
}

@media screen and (max-width: 768px) {
	.comment-barrage {
		display: none!important;
	}
}

.comment-barrage-item {
	min-width: 150px;
	max-width: 200px;
	width: fit-content;
	min-height: 80px;
	max-height: 144px;
	margin: 4px 0;
	padding: 8px;
	background: rgba(0, 0, 0, 0.9);
	backdrop-filter: blur(20px) saturate(180%);
	border-radius: 8px;
	color: #fff;
	animation: barrageIn 0.3s cubic-bezier(.25, .01, .5, 1.5);
	transition: 1s;
	display: flex;
	flex-direction: column;
	border: 1px solid rgba(255, 255, 255, 0.2);
}

.comment-barrage-item.out {
	opacity: 0;
}

@keyframes barrageIn {
	0% {
		transform: scale(0.1);
	}

	100% {
		transform: scale(1.0);
	}
}

.comment-barrage-item .barrageHead {
	height: 30px;
	padding: 0;
	line-height: 30px;
	font-size: 12px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.comment-barrage-item .barrageAvatar {
	width: 16px;
	height: 16px;
	margin: 0;
	border-radius: 50%;
}

.comment-barrage-item .barrageContent {
	font-size: 14px;
	height: calc(100% - 30px);
	overflow: scroll;
}

.comment-barrage-item .barrageContent::-webkit-scrollbar {
	height: 0;
	width: 4px;
}

.comment-barrage-item .barrageContent::-webkit-scrollbar-button {
	display: none;
}